### Dataset

In [1]:
# dataset: bbc-news-data.txt
# Location: https://mitu.co.in/dataset

### Import neccessary libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

from nltk import FreqDist
from sklearn.metrics import silhouette_score
from nltk.tokenize import word_tokenize

### Read dataset

In [3]:
file = open('bbc-text-data.csv')

In [4]:
data = file.readlines()

In [5]:
len(data)

2225

### Feature Extraction

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
tfidf = TfidfVectorizer(stop_words='english')

In [8]:
x_vect = tfidf.fit_transform(data)

In [9]:
x_vect.shape

(2225, 29126)

### Elbow Method

In [10]:
from sklearn.cluster import AgglomerativeClustering

### Build Model

In [11]:
ag = AgglomerativeClustering(n_clusters=5)

In [12]:
labels = ag.fit_predict(x_vect.toarray())

labels

array([4, 0, 0, ..., 0, 0, 0])

In [13]:
labels_list = list(labels)

In [14]:
labels_list.count(2)

365

In [15]:
cluster = labels[1]

In [16]:
df = pd.DataFrame(data, columns=['text'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    2225 non-null   object
dtypes: object(1)
memory usage: 17.5+ KB

In [28]:
pd.Series(labels).value_counts().to_dict()

{0: 1121, 4: 368, 2: 365, 1: 225, 3: 146}

In [29]:
df = pd.DataFrame(data,columns =['text'])

In [30]:
print('0:', len(df[labels == 0]))
print('1:', len(df[labels == 1]))
print('2:', len(df[labels == 2]))
print('3:', len(df[labels == 3]))
print('4:', len(df[labels == 4]))

0: 1121
1: 225
2: 365
3: 146
4: 368

In [31]:
df_label_two

                                                   text
3     yeading face newcastle in fa cup premiership s...
7     henman hopes ended in dubai third seed tim hen...
8     wilkinson fit to face edinburgh england captai...
14    moya emotional after davis cup win carlos moya...
17    connors boost for british tennis former world ...
...                                                 ...
2164  murray to make cup history andrew murray will ...
2177  henman decides to quit davis cup tim henman ha...
2180  campbell lifts lid on united feud arsenal s so...
2195  owen delighted with real display michael owen ...
2218  davies favours gloucester future wales hooker ...

[365 rows x 1 columns]

### Finding the most frequent words in the cluster 2

In [32]:
word_data_two = list(df_label_two['text'])

In [33]:
word_data_two_string = "".join(word_data_two)

In [34]:
word_token = word_tokenize(word_data_two_string)

In [35]:
freq = FreqDist(word_data_two_string)

In [36]:
freq.most_common(10)

[(' ', 138955),
 ('e', 68068),
 ('a', 50657),
 ('t', 49080),
 ('n', 42066),
 ('i', 41734),
 ('o', 39698),
 ('s', 36151),
 ('r', 34458),
 ('h', 29445)]