In [1]:
s1= "The quick brown fox jumps over the lazy dog."
s2= "The cat chases the mouse and it squeaks loudely."

In [6]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
cv = CountVectorizer()

In [4]:
word_vector = cv.fit_transform([s1,s2])
tfidf_transformer = TfidfTransformer()
x = tfidf_transformer.fit_transform(word_vector)

In [5]:
x

<2x15 sparse matrix of type '<class 'numpy.float64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [7]:
df = pd.DataFrame(x.toarray(),columns=cv.get_feature_names_out())
df

,and,brown,cat,chases,dog,fox,it,jumps,lazy,loudely,mouse,over,quick,squeaks,the
0,0.000000,0.332872,0.000000,0.000000,0.332872,0.332872,0.000000,0.332872,0.332872,0.000000,0.000000,0.332872,0.332872,0.000000,0.473682
1,0.332872,0.000000,0.332872,0.332872,0.000000,0.000000,0.332872,0.000000,0.000000,0.332872,0.332872,0.000000,0.000000,0.332872,0.473682